/*POKEDEX VIEW*/
.pokedex-container {
    -fx-background-image: url("img/pokedex-background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.pokedex-type-combobox {
    -fx-background-color: white;
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
    -fx-background-radius: 50;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.7, 3, 3);
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.pokedex-type-combobox .list-cell {
    -fx-alignment: center;
    -fx-font-size: 16px;
}

.pokedex-search-box {
    -fx-pref-height: 40px;
    -fx-pref-width: 600px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 50;
    -fx-padding: 1;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.7, 3, 3);
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.pokedex-go-button {
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
    -fx-background-radius: 50;
    -fx-background-color: white;
    -fx-padding: 1;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.7, 3, 3);
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.pokedex-navigation-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.pokedex-navigation-button:pressed .button-image-view {
    -fx-opacity: 0.7;
}

.pokedex-navigation-button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/*INFO VIEW*/
.info-container {
    -fx-background-image: url("img/info-background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.info-back-button {
    -fx-background-radius: 50;
    -fx-background-color: white;
    -fx-padding: 1;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 5, 0.7, 3, 3);
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.info-name{
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.info-data{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.info-value{
    -fx-font-size: 14px;
}

.info-description{
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.info-button {
    -fx-background-radius: 50;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 1, 0.7, 1, 1);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.info-grid-label{
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 25px;
}

.info-grid-value{
    -fx-font-weight: bold;
    -fx-font-size: 26px;
    -fx-text-fill: white;
}

.info-progress-bar {
    -fx-accent: #ffffff;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-pref-height: 20px;
}

.info-progress-bar .track {
    -fx-background-color: #818181;
    -fx-background-radius: 10px;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.info-progress-bar .bar {
    -fx-background-radius: 8px;
    -fx-background-insets: 0;
}

/*POKEMON ITEM*/
.pokemon-item-container{
    -fx-background-radius: 15;
    -fx-background-image: url("img/pokemon-item-background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.pokemon-item-label{
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 0, 1, 1, 1);
}

/*ABILITY ITEM*/
.ability-item-container {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.ability-item-name {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.ability-item-description {
    -fx-padding: 5px;
    -fx-font-size: 16;
}

.ability-item-header {
    -fx-background-color: #3498db;
    -fx-background-radius: 10 10 0 0;
}

.ability-item-body {
    -fx-background-color: white;
    -fx-background-radius: 0 0 10 10;
}

/*MOVE ITEM*/
.move-item-container {
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.move-item-label {
}

.move-item-data {
}

.move-item-type-box {
    -fx-padding: 5px 10px;
}

.move-item-type-rectangle, .move-item-damage-class-rectangle {
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-fill: #4CAF50;
    -fx-effect: dropshadow(gaussian, grey, 1, 0.7, 1, 1);
}

.move-item-type-label, .move-item-damage-class-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, black, 0, 1, 1, 1);
}

.move-item-info-button {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-size: 12px;
}

.move-item-info-button:hover {
    -fx-background-color: lightgrey;
}

.move-item-info-button:pressed {
    -fx-background-color: grey;
}

/*TYPE ITEM*/
.type-item-container {
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 1, 0.7, 1, 1);
}

.type-item-name {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 0, 1, 1, 1);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}