.pokemon_item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
}
.pokemon_item_label{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 1, 10, 0, 0);
}

.progress-bar-low{
    -fx-accent: #ff7070;
}

.progress-bar-mid{
    -fx-accent: #ffff7b;
}

.progress-bar-high{
    -fx-accent: #a1e5ff;
}

.progress-bar-extraHigh{
    -fx-accent: #a0ffa0;
}

.home_button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.infoContainer {
    -fx-background-image: url("img/info-background.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.progress-bar {
    -fx-accent: #4CAF50; /* Cambia el color de la barra de progreso */
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 10px; /* Redondea los bordes del fondo */
    -fx-padding: 0; /* Elimina el espacio alrededor de la barra de progreso */
    -fx-pref-height: 15px; /* Ajusta la altura de la barra de progreso */
}

.progress-bar .track {
    -fx-background-color: #E0E0E0;
    -fx-background-radius: 10px; /* Redondea los bordes del track */
    -fx-padding: 0; /* Asegúrate de que el track ocupe todo el ancho */
    -fx-background-insets: 0; /* Elimina cualquier espacio alrededor del track */
}

.progress-bar .bar {
    -fx-background-radius: 8px; /* Redondea los bordes de la barra */
    -fx-background-insets: 0; /* Elimina cualquier espacio alrededor de la barra */
}

.grid-attribute{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 25px;
}

.grid-number{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.pokemon-name{
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.stat-label{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.value-label{
    -fx-font-size: 14px;
}

.description-label{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.type-container {
    -fx-background-radius: 20;
    -fx-padding: 5;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, grey, 1, 0.7, 1, 1);
}

.type-name {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.ability-item {
    -fx-background-color: white; /* Fondo blanco */
    -fx-backgroud-radius: 15; /* Bordes redondeados */
}

/* Estilos para el nombre de la habilidad */
.ability-name {
    -fx-background-color: black; /* Fondo negro */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-padding: 5px; /* Espaciado interno */
    -fx-background-radius: 5px; /* Bordes redondeados */
}

/* Estilos para la descripción de la habilidad */
.ability-description {
    -fx-padding: 5px; /* Espaciado interno */
}

.button:focused {
    -fx-focus-color: transparent; /* Elimina el color de foco (halo azul) */
    -fx-faint-focus-color: transparent; /* Elimina el color de foco débil */
}